* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    background-color: rgb(26, 26, 26);
    padding: 2rem 2rem;
    font-family: sans-serif;
    color: white;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(20, 20, 20);
}
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#header h2{
    font-size: 2rem;
}
.todoInput{
    display: flex;
}
.todoInput input{
    border: 1px solid rgb(20, 20, 20);
    width: 250px;
    padding-inline: 1rem;
}
.todoInput input:focus {
    outline: none;
}
.todoInput button{
    border: none;
    padding: 1rem;
    background-color: brown;
    cursor: pointer;
}
#todoOptions{
    font-size: 1.2rem;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}
#categorys{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 3rem auto 0;
}
.category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category h3{
    font-size: 1.8rem;
}
.taskContainer {
    width: 80%;
}
.task{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-inline: auto;
    padding: 1rem 0;
    position: relative;
    font-size: 1.4rem;
}
.task::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: white;
    bottom: 0;
}
.task p{
    width: 80%;
}
.deleteAndCheck{
    display: flex;
    gap: 1rem;
    width: 20%;
}
#errorMessage{
    font-size: 1.5rem;
    color: red;
    opacity: 0;
} 
i{
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: #aaaaab
}
i:hover{
    transform: scale(1.2);
    color: white
}
#me{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
}
#me span{
color: rgb(150, 0, 0);
}