.container {
    width: 350px;
}

#controls i {
    font-size: 30px;
    color: purple;
    margin-right: 20px;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#progress {
    margin-bottom: 20px;
}

#progress .times {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#progress-bar {
    width: 100%;
}

#music-image {
    width: 100%;
}